@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #5644cd;
	z-index: -2;
	animation-name: background;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes background {
	0% {
		background: #5644cd;
	}
	100% {
		background: #342e70;
	}
}


.cloud__little, .cloud__big, .cloud__rectangle {
	background: #fff;
}
.cloud__little, .cloud__big, .cloud__sun {
	border-radius: 50%
}
.cloud__sun {
	animation-name: sun;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50px;
	bottom: 0;
	z-index: -1;
	background: #ffca35;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
}

@keyframes sun {
	0% {
		bottom: 0;
		background: #fd6c13;
	}
	100% {
		bottom: 250px;
	}
}

.cloud__loading {
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	display: inline-block;
	width: 550px;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	position: absolute;
	top: 170px;
	color: #000;
	font-family: 'Oswald', sans-serif;
}
.cloud {
	display: flex;
	align-items: baseline;
	position: relative;
	margin-left: -100px;
}
.cloud__little {
	position: relative;
	width: 200px;
	height: 200px;
	left: 50px;
}
.cloud__big {
	width: 300px;
	height: 300px;
}
.cloud__rectangle {
	position: absolute;
	width: 200px;
	height: 50px;
	bottom: 0;
	left: 150px;
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}