@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #342e70;
	z-index: -2;
	animation-name: background;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes background {
	0% {
		background: #342e70;
	}
	100% {
		background: #5644cd;
	}
}
.cloud__little, .cloud__big, .cloud__rectangle {
	background: #fff;
}
.cloud__little, .cloud__big, .cloud__sun {
	border-radius: 50%
}
.cloud__sun {
	animation-name: sun;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50px;
	bottom: 0;
	z-index: -1;
	background: #ffca35;
	animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	@media screen and (max-width: 860px) {
		animation-name: mobile-sun;
		width: 150px;
		height: 150px;
	}
}
@keyframes sun {
	0% {
		bottom: 0;
		background: #fd6c13;
	}
	100% {
		bottom: 250px;
	}
}
@keyframes mobile-sun {
	0% {
		bottom: 0;
		background: #fd6c13;
	}
	100% {
		bottom: 150px;
	}
}
.cloud__loading {
	position: absolute;
	left: 110px;
	bottom: 60px;
	width: 320px;
	border-radius: 50px;
	z-index: 1;
	height: 70px;
	background: #fff;
	overflow: hidden;
	@media screen and (max-width: 860px) {
		width: 220px;
		height: 50px;
		left: 90px;
		bottom: 50px;
	}
	&-bar {
		animation-duration: 2s;
		animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-name: loading;
		background: #fd6c13;
		height: 70px;
		width: 0;
		@media screen and (max-width: 860px) {
			animation-name: mobile-loading;
		}
	}
}
@keyframes loading {
	100% {
		width: 320px;
		background: #ffca35;
	}
}
@keyframes mobile-loading {
	100% {
		width: 220px;
		background: #ffca35;
	}
}
.cloud {
	display: flex;
	align-items: baseline;
	position: relative;
	margin-left: -50px;
}
.cloud__little {
	position: relative;
	width: 200px;
	height: 200px;
	left: 50px;
	@media screen and (max-width: 860px) {
		width: 150px;
		height: 150px;
	}
}
.cloud__big {
	width: 300px;
	height: 300px;
	@media screen and (max-width: 860px) {
		width: 200px;
		height: 200px;
	}
}
.cloud__rectangle {
	position: absolute;
	width: 200px;
	height: 50px;
	bottom: 0;
	left: 150px;
	@media screen and (max-width: 860px) {
		width: 130px;
		height: 50px;
		left: 120px;
	}
}